.btn {
  background-color: #001122;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover {
  color: #FFBB33;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}